@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.header {
    background-color: #162027;
    color: #f9faf8;
    font-size: 24px;
    display: flex;
}

img {
    max-width: 350px;
    height: auto;
}

.navbar-container{
    color:#f9faf8;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    
    
}

.navbar{

    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

.link{
    color: #f9faf8;
    text-decoration: none;
}

.ingredient-container{
    background-color: #1f2937;
    color: #f9faf8;
    
}

.ingredient-head{
    font-size: 48px;
    text-align: center;
}

.ingredient-column,
.ingredient-img {
    background-color: #1f2937;
    display:flex;
}

.ingredient-column {
    justify-content: space-evenly;
}

.ingredient-img{
    flex-direction: column;
    align-items: center;
    padding: 2px;
    
}

.ingredient-info{
    max-width: 300px;
    gap: 45px;
    padding: 10px;
}



.style-container{
    color:#f9faf8;
    background-color: #222337;
}

.style-head{
    color: #f9faf8;
    font-size: 48px;
    text-align: center;
}

.style-column,
.style-img {
    display:flex;
}

.style-column{
    justify-content: space-evenly;
}

.style-img{
    flex-direction: column;
    align-items:center;
}

.style-info{
    max-width: 300px;
    gap: 45px;
    padding: 10px;
}

.bowl-container{
    color: #f9faf8;
    background-color: #1f372b;
}

.bowl-head{
    color: #f9faf8;
    font-size: 48px;
    text-align: center;
}

.bowl-column,
.bowl-img {
    display:flex;
}

.bowl-column{
    justify-content: space-evenly;
}

.bowl-img{
    flex-direction: column;
    align-items: center;
    padding: 2px;
}

.email-container{
    background-color: #16271e;
    color: #f9faf8;
}

footer {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
}