@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: Roboto, sans-serif; 
    background-color: #090c10;
    color: #eff2f6;
}

.bigbowl{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1f2937;
    color: #eff2f6

}

.localeats{
    display: flex;
    flex-direction: column;
    background-color: #251f37;
    color: #eff2f6
}

.dryramen{
    display: flex;
    flex-direction: column;
    background-color: #371f31;
    color: #eff2f6
}

.maintopic{
    display: flex;
    justify-content: center;
    align-content: flex-start
}

.image{
    display: flex;
    justify-content: center;
    
}
